
<div class ="home" >
	<h2>Welcome To Paths of love!</h2>
</div>
<div class = "signin">
	<%= link_to '<button type="button"> Sign Up </button>'.html_safe, new_user_path %>
	<%= link_to '<button type="button"> Login </button>'.html_safe, new_session_path %>
</div>