html{
	background-color: #ffe6e6;
	
}

.home{
	background-color: black;
	color: red;
	text-align: Center;
	
}
.signin{
	text-align: Center;
	font-size: 100%;
}
.new_user{
	text-align: Center;
}
.new_user_header{
	background-color: black;
	color: red;
	text-align: Center;
}
.transbox{
	margin:30px;
	background-color: red;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
}